<html>
<head>
    <title>Page that exerecises all of the files resource methods</title>
</head>
<body ng-app="MyApp">
<div ng-controller="MaximalCtrl as vm">
    This is a sample app showing how simple it is to access Drive using ngGapi. <br>
    It goes through a sequence of creating then updating some files, finally deleting and tidying up after itself.<br><br>
    NB THIS WILL DELETE ALL TRASHED OF THE AUTHENTICATED USER, IF THE USER GRANTED SUFFICIENT PERMISSIONS
    <table>
        <tr valign="top">
            <td>
                <table>
                    <tr>
                        <th style="width:25em">Operation</th>
                        <th>Status</th>
                        <th>Data</th>
                    </tr>
                    <tr valign="top" ng-repeat="step in vm.steps">
                        <td>{{step.op}}</td>
                        <td>{{step.status}}</td>
                        <td>{{step.data}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <!--<pre>{{vm.currentFile|json}}</pre>-->
            </td>
        </tr>
        </tr>

    </table>
    <li ng-repeat="file in vm.filesArray">{{file.title}}</li>
</div>

<!-- Load the Google auth-only JS library which we use for OAuth as it deals with browsers, popups and iframes -->
<script src="https://apis.google.com/js/auth.js" type="text/javascript"></script>
<!-- Load angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
<!-- Load the OauthService. Must be done before app-->
<Zcript src="dist_lib/nggapi_base.min.js"></Zcript>
<script src="libscripts/services/oauth_s.js"></script>
<script src="libscripts/services/http_s.js"></script>
<script src="libscripts/services/drive_s.js"></script>

<zcript src="dist_lib/nggapi_drive.min.js"></zcript>
<script>
    // declare your angular app with ngm.NgGapi as a required module
    var myApp = angular.module('MyApp', ['ngm.NgGapi']);

    // configure the Oauth Service with your client ID and scopes. That's it, OAuth is now completely dealt with!!!
    angular.module('ngm.NgGapi')
            .provider('OauthService', NgGapi.Config)
            .config(function (OauthServiceProvider) {
                OauthServiceProvider.setScopes('https://www.googleapis.com/auth/drive.file');
                OauthServiceProvider.setClientID('292329129968-nrf447v3m1jqknroi1naii0kfs92bvf1.apps.googleusercontent.com');
            });
</script>
<!-- Load the other two js files. These will all be bundled and minified in the distro -->
<script src="appscripts/controllers/maximal_c.js"></script>
</body>
</html>
